@page "/"

<h1 class="page-title">Welcome to the Expense Claim Management System!</h1>
<br />
<h4>Using this application, you have access to all functionalities of ExpenseClaim.</h4>

<br />

<AuthorizeView>
    <Authorized>
        <MudButton Variant="Variant.Filled" DisableElevation="true" Color="Color.Tertiary" @onclick="Logout">Logout</MudButton>
    </Authorized>
    <NotAuthorized>
        <MudButton Variant="Variant.Filled" DisableElevation="true" Color="Color.Tertiary" @onclick="NavigateToLogin">Click to log in</MudButton>
        <br />
        <MudButton Variant="Variant.Filled" DisableElevation="true" Color="Color.Tertiary" @onclick="NavigateToRegister">Click to register</MudButton>
    </NotAuthorized>
</AuthorizeView>