@page "/login"

<div class="mt-5 row">
    <div class="card col-12 col-lg-6 mr-auto ml-auto p-3">
        <h3 class="card-title">Login to GloboTicket</h3>
        <div class="card-body">
            <EditForm Model="@LoginViewModel" OnValidSubmit="HandleValidSubmit">
                <div class="input-group row mt-2">
                    <label class="col-12 col-md-4 p-0" for="userName">Email:</label>
                    <InputText id="userName" class="col-12 col-md-8 login-field" @bind-Value="LoginViewModel.Email"></InputText>
                </div>
                <div class="input-group row mt-2">
                    <label class="col-12 col-md-4 p-0" for="password">Password:</label>
                    <InputText type="password" id="password" class="col-12 col-md-8 login-field" @bind-Value="@LoginViewModel.Password"></InputText>
                </div>
                <div class="input-group row mt-2">
                    <div class="offset-md-4">
                        <button class="m-2 p-2">Login</button>
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
</div>

<span class="label label-error">@Message</span>

<div class="mt-5 row">
    <div class=" col-12 col-lg-6 mr-auto ml-auto p-3">
        <p>
            EmployeeA   - Id: EmployeeA@ABC.com<br />
            EmployeeB   - Id: EmployeeB@ABC.com<br />
            EmployeeC   - Id: EmployeeC@ABC.com<br />
            EmployeeD   - Id: EmployeeD@ABC.com<br />
            EmployeeE   - Id: EmployeeE@ABC.com<br />
            Approver    - Id: Approver@ABC.com<br />
            Finance Dep - Id: FinanceDep@ABC.com<br />
            <br />
            Pw: Abcd&01?
        </p>
    </div>
</div>